@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {box-sizing: border-box}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: bold;
    margin: 15px 0;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
}

a {
    color: rgb(49, 16, 236);
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.container {
display: flex;
  flex-direction: column;
  justify-content: center;
  }

input[type=text], input[type=password], input[type=email], input[type=tel] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline;
  border: 2px solid #ff445c;
  background: #f1f1f1;
  border-radius: 25px;
}

input[type=text]:focus, input[type=password], input[type=email], input[type=tel] :focus {
  background-color: #ffffff;
  outline: none;
}

button {
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    background: #ff445c;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.icons {
	display: flex;
	width: 30px;
	height: 30px;
	letter-spacing: 15px;
	align-items: center;
}
